
<label>Server Name</label>
<!-- <input type="text"
 class="form-control"
 (input)="onUpdateServerName($event)"> -->

 <input type="text"
 class="form-control"
 [(ngModel)]="serverName">

<!-- <p>{{serverName}}</p> -->
<button
 class="btn-btn-primary" [disabled]="!allowNewServer" 
 (click)="onCreateServer()">Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p *ngIf="serverStatus; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
    <p>
        no server was created!
    </p>
</ng-template>


<h1>Assingment </h1>
<input type="text"
class="form-control"
[(ngModel)]="username">

<button class="btn-btn-primary"  [disabled]="username ==='' "
(click)="username = ''" >Reset user</button>
<p>{{username}}</p>